body{
    background-color: rgb(244, 238, 120);
}
h1 {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color:crimson
}

table {
   
    margin: 100px auto;
}

td {
    height: 70px;
    width: 70px;
}

#black {
    background: #000;
}

#white {
    background-color: aqua;
}